.asks{
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .accordion{
        &__button{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 125%;
            color: #000000;
            display: flex;
            align-items: center;
            column-gap: 21px;
        }
    }
}