.comments{
    margin-bottom: 50px;
    background: #1E2026;
    border-radius: 3px;
    padding: 40px;
    @include media(1400){
        padding: 45px 34px 24px 34px;
    }
    @include media(992){
        padding: 23px 19px 24px 19px;
        margin-bottom: 44px;
    }
    @include media(768){
        padding: 18px 14px;
        margin-bottom: 47px;
    }
    @include media(480){
        margin-bottom: 27px;
    }
    &__title{
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 32px;
        @include media(1400){
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 23px;
        }
        @include media(768){
            margin-bottom: 31px;
        }
        @include media(480){
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 15px;
        }
    }
    &__form{
        margin-bottom: 32px;
        @include media(1400){
            row-gap: 22px;
        }
        @include media(768){
            margin-bottom: 44px;
        }
        @include media(480){
            row-gap: 16px;
            margin-bottom: 48px;
        }
    }
    &__input{
        resize: none;
        overflow: hidden;
        @include media(1400){
            height: 123px;
            display: flex;
            align-items: flex-start;
            padding: 12px;
        }
    }
    &__btn{
        @include media(480){
            height: 56px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    &__item{
        display: flex;
        align-items: flex-start;
        column-gap: 24px;
        @include media(1400){
            flex-direction: column;
            row-gap: 23px;
        }
        @include media(768){
            row-gap: 16px;
        }
    }
    &__top{
        display: flex;
        align-items: center;
        column-gap: 12px;
        margin-bottom: 8px;
        &.enable-xxl{
            @include media(1400){
                display: flex !important;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    &__subtitle{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.005em;
        color: #FFFFFF;
        opacity: 0.5;
        @include media(1400){
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            margin-bottom: 0;
        }
        @include media(480){
            font-size: 14px;
            line-height: 130%;
            margin-bottom: 6px;
        }
        @include media(360){
            font-size: 12px;
        }
        span{
            display: inline-block;
            margin-left: 12px;
        }
    }
    &__span{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #FFFFFF;
        opacity: 0.5;
        @include media(1400){
            font-size: 16px;
            line-height: 130%;
        }
        @include media(480){
            font-size: 14px;
            line-height: 130%;
        }
        @include media(360){
            font-size: 12px;
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        max-width: 744px;
        width: 100%;
        @include media(480){
            font-size: 14px;
            line-height: 160%;
        }
        @include media(360){
            font-size: 12px;
        }
    }
    &__img{
        @include media(1400){
            display: flex;
            column-gap: 12px;
            align-items: center;
        }
        img{
            @include media(360){
                width: 50px;
            }
        }
    }
    &__slider{
        width: 100%;
        position: relative;
    }
    .swiper{
        width: 100%;
        overflow: hidden;
        position: relative;
        &-wrapper{
            display: flex;
            width: max-content;
        }
        &-pagination{
            margin-top: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 8px;
            overflow: hidden;
            @include media(992){
                margin-top: 40px;
            }
            @include media(768){
                margin-top: 35px;
            }
            @include media(480){
                margin-top: 33px;
                column-gap: 4px;
            }
            &-bullet{
                background: #0ECB81;
                border-radius: 14px;
                width: 4px;
                height: 4px;
                display: block;
                transition: 200ms ease;
                @include media(480){
                    width: 2px;
                    height: 2px;
                }
                &-active{
                    width: 80px;
                    @include media(480){
                        width: 40px;
                    }
                }
            }
        }
    }
}

.downloads{
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    margin-bottom: 48px;
    @include media(992){
        margin-bottom: 24px;
        row-gap: 20px;
    }
    @include media(768){
        flex-direction: column;
        row-gap: 32px;
        margin-bottom: 36px;
    }
    @include media(480){
        margin-bottom: 79px;
    }
    .accordion__info{
        padding: 25px 12px;
        &_mb{
            margin-bottom: 0;
        }
    }
}