.markets{
    @include media(1400){
        padding-top: 43px;
    }
    @include media(992){
        padding-top: 27px;
    }
    @include media(768){
        padding-top: 31px;
    }
    &__title{
        margin-bottom: 25px;
        @include media(1400){
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 0;
        }
        @include media(992){
            max-width: 281px;
            width: 100%;
        }
        @include media(480){
            font-size: 24px;
            line-height: 28px;
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #909090;
        display: flex;
        align-items: center;
        column-gap: 8px;
        margin-bottom: 30px;
        @include media(1400){
            margin-bottom: 0;
            font-size: 18px;
            line-height: 21px;
        }
        @include media(480){
            font-size: 16px;
            line-height: 19px;
            column-gap: 3px;
        }
        @include media(360){
            font-size: 14px;
        }
        span{
            color: #000000;
            @include media(1400){
                font-size: 18px;
                line-height: 21px;
                color: #000000;
            }
            @include media(480){
                font-size: 16px;
                line-height: 19px;
            }
            @include media(360){
                font-size: 14px;
            }
        }
    }
    &__top{
        @include media(1400){
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
        }
        @include media(768){
            flex-direction: column;
            align-items: flex-start;
            row-gap: 22px;
            margin-bottom: 31px;
        }
        @include media(480){
            row-gap: 14px;
        }
    }
    &__slider{
        width: 100%;
        position: relative;
    }
    &__buttons{
        background: #0B0E11;
        border: 1px solid rgba(255, 255, 255, 0.25);
        box-sizing: border-box;
        border-radius: 8px;
        width: 250px;
        height: 40px;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 12px;
        @include media(1400){
            display: none;
        }
    }
    &-button{
        &-prev{
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            left: 0;
            &.swiper-button-disabled{
                opacity: 0.5;
            }
            &::before{
                content: '';
                background: url(../img/markets-prev.svg) center / cover no-repeat;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
        &-next{
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            right: 0;
            &.swiper-button-disabled{
                opacity: 0.5;
            }
            &::before{
                content: '';
                background: url(../img/markets-next.svg) center / cover no-repeat;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
        &-num{
            cursor: pointer;
            font-family: Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 145%;
            color: #FFFFFF;
        }
    }
    .swiper{
        width: 100%;
        overflow: hidden;
        position: relative;
        &-wrapper{
            display: flex;
            width: max-content;
        }
        &-slide{
            width: 100%;
            line-height: 0;
            img{
                width: 100%;
                object-fit: cover;
                line-height: 0;
            }
        }
        &-pagination{
            background: #FFFFFF;
            border-radius: 72px;
            width: 72px;
            height: 2px;
            &-progressbar-fill{
                background: #F2C94C;
                border-radius: 72px;
                height: 100%;
                display: block;
                transform-origin: left top;
            }
        }
    }
    &__info{
        background: #FAFAFA;
        border-radius: 0px 0px 3px 3px;
        padding: 36px 177px 54px 56px;
        margin-bottom: 60px;
        @include media(1400){
            padding: 20px;
            margin-bottom: 73px;
        }
        @include media(992){
            padding: 20px 16px;
            margin-bottom: 47px;
        }
        @include media(768){
            padding: 20px 12px;
            margin-bottom: 80px;
        }
        @include media(480){
            padding: 22px 15px 24px 14px;
            margin-bottom: 46px;
        }
    }
    &__subtitle{
        font-weight: 500;
        font-size: 18px;
        line-height: 125%;
        color: #000000;
        display: block;
        margin-bottom: 19px;
        @include media(1400){
            font-size: 24px;
            line-height: 125%;
            margin-bottom: 12px;
        }
        @include media(480){
            font-size: 16px;
            line-height: 125%;
            margin-bottom: 22px;
        }
    }
    &__p{
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: #000000;
        @include media(1400){
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
        }
        @include media(480){
            font-size: 14px;
            line-height: 150%;
        }
    }
    .account{
        position: relative;
        padding-bottom: 50px;
        @include media(1400){
            padding-bottom: 44px;
        }
        @include media(992){
            padding-bottom: 67px;
        }
        @include media(768){
            padding-bottom: 53px;
        }
        @include media(480){
            padding-bottom: 38px;
        }
        &__subtitle{
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            display: block;
            margin-bottom: 18px;
            @include media(1400){
                font-size: 24px;
                line-height: 125%;
                margin-bottom: 24px;
            }
            @include media(768){
                margin-bottom: 12px;
            }
            @include media(480){
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 24px;
            }
        }
        &__p{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            color: #000000;  
            margin-bottom: 21px;
            max-width: 540px;
            width: 100%;
            @include media(1400){
                font-size: 18px;
                line-height: 160%;
                max-width: 100%;
                margin-bottom: 27px;
            }
            @include media(768){
                margin-bottom: 40px;
            }
            @include media(480){
                margin-bottom: 21px;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
            }
            a{
                text-decoration-line: underline;
                color: #0ECB81;
            }
        }
        &__btn{
            width: 220px;
            height: 44px;
            @include media(1400){
                width: 100%;
                height: 90px;
                font-weight: 500;
                font-size: 24px;
                line-height: 125%;
                letter-spacing: 0.035em;
                color: #000000;
            }
            @include media(768){
                height: 58px;
            }
            @include media(480){
                font-weight: 400;
                font-size: 15px;
                line-height: 125%;
                height: 44px;
            }
        }
        &__abs{
            background: rgba(#161A1E, 0.95);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 480px;
            width: 100%;
            padding: 24px 40px;
            position: absolute;
            right: 110px;
            top: 70px;
            transition: 300ms ease;
            opacity: 0;
            visibility: hidden;
            &.active{
                opacity: 1;
                visibility: visible;
            }
            &-title{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 125%;
                color: #FFFFFF;
                display: block;
                margin-bottom: 15px;
            }
            &-desc{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 125%;
                color: #FFFFFF;
                @include media(768){
                    font-size: 18px;
                    line-height: 150%;
                }
                @include media(480){
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                }
                span{
                    color: #0ECB81;
                }
            }
        }
        .accordion{
            background: rgba(#161A1E, 0.95);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            padding: 24px 20px 10px 15px;
            margin-top: 24px;
            @include media(768){
                margin-top: 40px;
            }
            @include media(480){
                margin-top: 30px;
            }
            &__button{
                width: 100%;
                text-align: left;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    background: url(../img/account-arrow.svg) center / cover no-repeat;
                    width: 24px;
                    height: 24px;
                    right: 20px;
                    top: 0px;
                    transition: 150ms ease;
                }
                &.active{
                    &::before{
                        transform: rotate(180deg);
                    }
                }
                span{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 125%;
                    color: #FFFFFF;
                    @include media(480){
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 125%;
                    }
                }
            }
            &__content{
                max-width: 800px;
                padding-top: 15px;
                padding-bottom: 5px;
                display: none;
                @include media(480){
                    padding-top: 8px;
                }
            }
        }
    }
}