mixin about()
    .about
        .about__body.container 
            .about__content
                .about__item
                    .about__top
                        span.about__title Состав курса
                        .about__img.enable-xxl 
                            img(src="@img/about-img-1.svg", alt="" draggable="false" loading="lazy")
                    ul.about__list
                        li.about__li 8 модулей
                        li.about__li 56 уроков
                        li.about__li Теоретическая и практическая часть
                .about__item
                    .about__top
                        span.about__title Длительность
                        .about__img.enable-xxl 
                            img(src="@img/about-img-2.svg", alt="" draggable="false" loading="lazy")
                    ul.about__list
                        li.about__li Приблизителньое время прохождения #[span.about__span 10 часов]
                .about__item
                    .about__top
                        span.about__title Формат
                        .about__img.enable-xxl 
                            img(src="@img/about-img-3.svg", alt="" draggable="false" loading="lazy")
                    ul.about__list
                        li.about__li Учебный материал с #[span.about__span видео] вставками и #[span.about__span интерактивным] интерфейсом и тестированием
                .about__item
                    .about__top
                        span.about__title Результат
                        .about__img.enable-xxl 
                            img(src="@img/about-img-4.svg", alt="" draggable="false" loading="lazy")
                    ul.about__list
                        li.about__li Уверенная торговля на криптобирже Binance и базовые знания финансовых и криптовлютных рынков
                    .about__info.disable-xxl
                        .about__icon
                            img(src="@img/about-icon.svg", alt="" draggable="false" loading="lazy")
                        p.about__p Сертификат об успешном окончании курса
            .about__slider
                .about__swiper.swiper 
                    .about__swiper-wrapper.swiper-wrapper 
                        .about__slide.swiper-slide 
                            .about__item
                                .about__top
                                    span.about__title Состав курса
                                    .about__img.enable-xxl 
                                        img(src="@img/about-img-1.svg", alt="" draggable="false" loading="lazy")
                                ul.about__list
                                    li.about__li 8 модулей
                                    li.about__li 56 уроков
                                    li.about__li Теоретическая и практическая часть
                        .about__slide.swiper-slide
                            .about__item
                                .about__top
                                    span.about__title Длительность
                                    .about__img.enable-xxl 
                                        img(src="@img/about-img-2.svg", alt="" draggable="false" loading="lazy")
                                ul.about__list
                                    li.about__li Приблизителньое время прохождения #[span.about__span 10 часов]
                        .about__slide.swiper-slide
                            .about__item
                                .about__top
                                    span.about__title Формат
                                    .about__img.enable-xxl 
                                        img(src="@img/about-img-3.svg", alt="" draggable="false" loading="lazy")
                                ul.about__list
                                    li.about__li Учебный материал с #[span.about__span видео] вставками и #[span.about__span интерактивным] интерфейсом и тестированием
                        .about__slide.swiper-slide
                            .about__item
                                .about__top
                                    span.about__title Результат
                                    .about__img.enable-xxl 
                                        img(src="@img/about-img-4.svg", alt="" draggable="false" loading="lazy")
                                ul.about__list
                                    li.about__li Уверенная торговля на криптобирже Binance и базовые знания финансовых и криптовлютных рынков
            .about__info.enable-xxl
                .about__icon
                    img(src="@img/about-icon.svg", alt="" draggable="false" loading="lazy")
                p.about__p Сертификат об успешном окончании курса
            