mixin asks()
    .asks 
        .asks__body.container 
            h2.asks__title.title Популярные #[span.title__span вопросы]
            .asks__accordion.accordion-container 
                .accordion  
                    button(type="button").accordion__button #[.accordion__btn] Какой уровень знаний нужен для прохождения курса?
                    .accordion__content 
                        p.accordion__p Данный курс рассчитан на нулевые знания в области финансов и криптовалюты.В учебной программе используюсят специальные инструменты облегчающие усвоение материала, например: словарь терминов, видео вставки, инфографика и ихзображение.
                .accordion  
                    button(type="button").accordion__button #[.accordion__btn] Я слышал что Binance не принимает карты visa и master card. Как я куплю криптовалюту?
                    .accordion__content 
                        p.accordion__p Данный курс рассчитан на нулевые знания в области финансов и криптовалюты.В учебной программе используюсят специальные инструменты облегчающие усвоение материала, например: словарь терминов, видео вставки, инфографика и ихзображение.
                .accordion  
                    button(type="button").accordion__button #[.accordion__btn] Сколько будет доступен курс после покупки?
                    .accordion__content 
                        p.accordion__p Данный курс рассчитан на нулевые знания в области финансов и криптовалюты.В учебной программе используюсят специальные инструменты облегчающие усвоение материала, например: словарь терминов, видео вставки, инфографика и ихзображение.
                .accordion  
                    button(type="button").accordion__button #[.accordion__btn] Я хочу торговать с мобильного телефона, как мне поможет данный курс?
                    .accordion__content 
                        p.accordion__p Данный курс рассчитан на нулевые знания в области финансов и криптовалюты.В учебной программе используюсят специальные инструменты облегчающие усвоение материала, например: словарь терминов, видео вставки, инфографика и ихзображение.
                .accordion  
                    button(type="button").accordion__button #[.accordion__btn] Узнаю ли я как купить и продать NFT?
                    .accordion__content 
                        p.accordion__p Данный курс рассчитан на нулевые знания в области финансов и криптовалюты.В учебной программе используюсят специальные инструменты облегчающие усвоение материала, например: словарь терминов, видео вставки, инфографика и ихзображение.