mixin asks()
    .asks 
        .asks__body.container 
            h2.asks__title Популярные #[span.title__span вопросы]
            .asks__accordion 
                .accordion  
<<<<<<< HEAD
                    button(type="button").accordion__button #[.accordion__btn] Какой уровень знаний нужен для прохождения курса?
                    .accordion__content 
                        p.accordion__p Данный курс рассчитан на нулевые знания в области финансов и криптовалюты.В учебной программе используюсят специальные инструменты облегчающие усвоение материала, например: словарь терминов, видео вставки, инфографика и ихзображение.
                .accordion  
                    button(type="button").accordion__button #[.accordion__btn] Какой уровень знаний нужен для прохождения курса?
                    .accordion__content 
                        p.accordion__p Данный курс рассчитан на нулевые знания в области финансов и криптовалюты.В учебной программе используюсят специальные инструменты облегчающие усвоение материала, например: словарь терминов, видео вставки, инфографика и ихзображение.
                .accordion  
                    button(type="button").accordion__button #[.accordion__btn] Какой уровень знаний нужен для прохождения курса?
                    .accordion__content 
                        p.accordion__p Данный курс рассчитан на нулевые знания в области финансов и криптовалюты.В учебной программе используюсят специальные инструменты облегчающие усвоение материала, например: словарь терминов, видео вставки, инфографика и ихзображение.
                .accordion  
                    button(type="button").accordion__button #[.accordion__btn] Какой уровень знаний нужен для прохождения курса?
                    .accordion__content 
                        p.accordion__p Данный курс рассчитан на нулевые знания в области финансов и криптовалюты.В учебной программе используюсят специальные инструменты облегчающие усвоение материала, например: словарь терминов, видео вставки, инфографика и ихзображение.
                .accordion  
                    button(type="button").accordion__button #[.accordion__btn] Какой уровень знаний нужен для прохождения курса?
                    .accordion__content 
                        p.accordion__p Данный курс рассчитан на нулевые знания в области финансов и криптовалюты.В учебной программе используюсят специальные инструменты облегчающие усвоение материала, например: словарь терминов, видео вставки, инфографика и ихзображение. 
=======
                clear
>>>>>>> d653cdd126f59696dc4b34cf18dc05a2aa487365
