mixin blocks()
    .blocks 
        .blocks__row.container 
            .blocks__col 
                .markets  
                    .markets__body
                        .markets__top 
                            h2.markets__title.subtitle Блок 1. Блокчейн и крипторынок
                            p.markets__desc 
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.49984 1.41699C4.59409 1.41699 1.4165 4.59458 1.4165 8.50033C1.4165 12.4061 4.59409 15.5837 8.49984 15.5837C12.4056 15.5837 15.5832 12.4061 15.5832 8.50033C15.5832 4.59458 12.4056 1.41699 8.49984 1.41699ZM8.49984 14.167C5.37538 14.167 2.83317 11.6248 2.83317 8.50033C2.83317 5.37587 5.37538 2.83366 8.49984 2.83366C11.6243 2.83366 14.1665 5.37587 14.1665 8.50033C14.1665 11.6248 11.6243 14.167 8.49984 14.167Z" fill="black"/>
                                    <path d="M9.20817 4.95801H7.7915V9.20801H12.0415V7.79134H9.20817V4.95801Z" fill="black"/>
                                </svg>
                                span 15 мин.
                                | Среднее время изучения урока
                        .markets__slider 
                            .markets__swiper.swiper 
                                .markets__swiper-wrapper.swiper-wrapper 
                                    .markets__slide.swiper-slide 
                                        img(src="@img/markets-img.png", alt="" draggable="false" loading="lazy")
                                    .markets__slide.swiper-slide 
                                        img(src="@img/markets-img.png", alt="" draggable="false" loading="lazy")
                                    .markets__slide.swiper-slide 
                                        img(src="@img/markets-img.png", alt="" draggable="false" loading="lazy")
                                    .markets__slide.swiper-slide 
                                        img(src="@img/markets-img.png", alt="" draggable="false" loading="lazy")
                                    .markets__slide.swiper-slide 
                                        img(src="@img/markets-img.png", alt="" draggable="false" loading="lazy")
                                    .markets__slide.swiper-slide 
                                        img(src="@img/markets-img.png", alt="" draggable="false" loading="lazy")
                                    .markets__slide.swiper-slide 
                                        img(src="@img/markets-img.png", alt="" draggable="false" loading="lazy")
                                    .markets__slide.swiper-slide 
                                        img(src="@img/markets-img.png", alt="" draggable="false" loading="lazy")
                            .markets__buttons
                                .markets-button-prev
                                p.markets-button-num.markets-button-num-prev 01
                                .markets-pagination.swiper-pagination
                                p.markets-button-num.markets-button-num-next 08
                                .markets-button-next
                        .markets__info 
                            span.markets__subtitle Заголовок к слайду
                            p.markets__p Перед тем, как открыть торговый счет на Binance Futures, вам необходим обычный аккаунт на бирже Binance. Если у вас он отсутствует, вы можете зайти на Binance и нажать на «Регистрация» в правом верхнем углу экрана. Затем выполните следующие действия.
                        .account 
                            span.account__subtitle Создание аккаунта на Binance Futures
                            .account__p Перед тем, как открыть #[a(href="#!").account__link торговый счет] на Binance Futures, вам необходим обычный аккаунт на бирже Binance. Если у вас он отсутствует, вы можете зайти на Binance и нажать на «Регистрация» в правом верхнем углу экрана. Затем выполните следующие действия:
                            button(type="button").account__btn.btn-primary Регистрация
                            .account__abs.disable-xxl 
                                span.account__abs-title Словарь терминов
                                p.account__abs-desc #[span Торговый счет] - это банковский счет, специально созданный для коммерческих целей, на котором компании могут совершать и принимать платежи.
                            .account__accordion.accordion.enable-xxl
                                button(type="button").accordion__button.active
                                    span.account__abs-title Словарь терминов
                                .accordion__content(style="display: block")
                                    p.account__abs-desc #[span Торговый счет] - это банковский счет, специально созданный для коммерческих целей, на котором компании могут совершать и принимать платежи.
                .selling 
                    .selling__body 
                        h2.selling__title Тренжор работы с терминалом покупки и продаже актива
                        .selling__row 
                            .selling__img
                                img(src="@img/selling-img-1.png", alt="" draggable="false" loading="lazy").disable-xxl
                                img(src="@img/selling-img-xxl.png", alt="" draggable="false" loading="lazy").enable-xxl.disable-lg
                                img(src="@img/selling-img-lg.png", alt="" draggable="false" loading="lazy").enable-lg.disable-smm
                                img(src="@img/selling-img-smm.png", alt="" draggable="false" loading="lazy").enable-smm
                            .selling__right
                                .selling__right-top
                                    .selling__right-title
                                        span.selling__subtitle Интерфейс покупки и проджажи
                                        p.selling__right-p.enable-xxl.disable-lg 1/15
                                    p.selling__desc Binance Futures позволяет отрегулировать нужное вам кредитное плечо вручную. #[br] #[br.disable-lg.enable-smm] Для этого, обратите внимание на верхнюю часть страницы и нажмите на желтое поле с текущим размером кредитного плеча (по умолчанию стоит х20). Укажите нужный вам размер отрегулировав ползунок, либо c помощью ввода необходимого вам числа, после чего нажмите «Подтвердить».
                                .selling__right-bottom.disable-lg
                                    .selling__right-buttons
                                        button(type="button").selling__back
                                            img(src="@img/selling-arrow.svg", alt="" draggable="false" loading="lazy")
                                            | Назад
                                        button(type="button").selling__btn Далее
                                    p.selling__right-p.disable-xxl 1/15
                        .selling__col
                            .selling__img
                                img(src="@img/selling-col-1.png", alt="" draggable="false" loading="lazy")
                            .selling__right
                                .selling__right-top
                                    .selling__right-title
                                        span.selling__subtitle Интерфейс покупки и проджажи
                                    p.selling__desc Binance Futures позволяет отрегулировать нужное вам кредитное плечо вручную. #[br] #[br.disable-lg.enable-smm] Для этого, обратите внимание на верхнюю часть страницы и нажмите на желтое поле с текущим размером кредитного плеча (по умолчанию стоит х20). Укажите нужный вам размер отрегулировав ползунок, либо c помощью ввода необходимого вам числа, после чего нажмите «Подтвердить».
                                .selling__right-bottom
                                    button(type="button").selling__btn.enable-md.disable-smm Далее
                                    .selling__right-buttons
                                        button(type="button").selling__back
                                            img(src="@img/selling-arrow.svg", alt="" draggable="false" loading="lazy")
                                            | Назад
                                        button(type="button").selling__btn.disable-md.enable-smm Далее
                                        p.selling__right-p.disable-smm 1/15
                        .selling__row.selling__div
                            .selling__img
                                img(src="@img/selling-row-1.png", alt="" draggable="false" loading="lazy")
                            .selling__right
                                .selling__right-top
                                    .selling__right-title
                                        span.selling__subtitle Интерфейс покупки и проджажи
                                        p.selling__right-p.enable-xxl.disable-lg 1/15
                                    p.selling__desc Binance Futures позволяет отрегулировать нужное вам кредитное плечо вручную. #[br] #[br.disable-lg.enable-smm] Для этого, обратите внимание на верхнюю часть страницы и нажмите на желтое поле с текущим размером кредитного плеча (по умолчанию стоит х20). Укажите нужный вам размер отрегулировав ползунок, либо c помощью ввода необходимого вам числа, после чего нажмите «Подтвердить».
                                .selling__right-bottom
                                    button(type="button").selling__btn.enable-md.disable-smm Далее
                                    .selling__right-buttons
                                        button(type="button").selling__back
                                            img(src="@img/selling-arrow.svg", alt="" draggable="false" loading="lazy")
                                            | Назад
                                        button(type="button").selling__btn.disable-md.enable-smm Далее
                                        p.selling__right-p.disable-xxl.enable-lg.disable-smm 1/15
                .works 
                    .works__div
                        .works__top 
                            h2.works__title Работа на себя в 3d
                            p.selling-right-p.enable-lg.disable-md.enable-smm 1/15
                        p.works__p В это сложно поверить, но заказы я находил в основном на Авито – так я мог сам выбирать, над какими проектами мне интереснее работать. Я делал модели зданий, предметов и логотипов. Не гонялся за количеством, сейчас 3D для меня – любимое занятие, можно сказать, хобби, приносящее дополнительный заработок, но не серьёзная трудовая деятельность. К тому же, у меня есть и основная работа. #[br] #[br] Например, сейчас я вообще не беру заказы, для меня важнее саморазвитие: совершенствую свои навыки и занимаюсь авторскими концептами. Во время работы я понял, что моё слабое место – текстурирование, поэтому решил пока заполнить пробелы в знаниях. А когда стану опытнее — начну брать более высокооплачиваемые проекты.
                    .works__div
                        h2.works__subtitle Челлендж №3. Future Helmet.
                        p.works__p Являясь всего лишь частью общей картины, независимые государства призывают нас к новым свершениям, которые, в свою очередь, должны быть объективно рассмотрены соответствующими инстанциями.  
                        ul.works__list 
                            li.works__li Являясь всего лишь частью общей картины, 
                            li.works__li Независимые государства  
                            li.works__li Объективно рассмотрены соответствующими инстанциями.  
                            li.works__li Требует анализа поэтапного и последовательного развития общества.
                    .works__div 
                        h2.works__title Софт, в котором я работаю
                        p.works__p Раньше я работал в Cinema 4D, который хорош в моушн-дизайне, но захотел перейти на Blender, так как он больше подходит для моих целей и запросов. Поэтому сейчас я пользуюсь только последним.
                    .works__div 
                        h2.works__title Планы на будущее
                        p.works__p Мне нравится 3D моделирование тем, что здесь я могу творчески развиваться и создавать что-то уникальное, своё. Я, конечно, могу просто перевести в 3D чайник или телефон, но куда приятнее придумывать нечто новое и интересное. Например, сейчас я работаю над собственными концептами — в основном моделирую роботов и прочую технику.
                    .works__info.works__div    
                        p.works__text „
                        p.works__txt Если у вас нет средств на вашем торговом балансе, и вы желаете его пополнить, мы рекомендуем вам ознакомится с руководством о том, как внести депозит на Binance.
                    p.works__about Хочу ли я в студию? Нет, не стремлюсь туда попасть – работа там предполагает моделирование по ТЗ, по чужим концептам и идеям. Поэтому мне и нравится работа на себя – так у меня есть свобода выбора и гораздо меньше ограничений. Если мне не нравится проект – я просто не берусь за него или в некоторых вопросах могу договориться с заказчиком, найти компромисс.
                .test 
                    .test__top 
                        h2.test__title Заключительный тест для 1-го блока
                        p.test__desc В данном тесте Вам необходимо ответить на ряд вопросов. Не рекомендуем смортеть ответы в поисковых ситемах, так как результаты теста не влияют на дальнейшее прохождение курса. 
                    .test__bottom 
                        h2.test__subtitle Вопрос 1.
                        p.test__p В данном тесте Вам необходимо ответить на ряд вопросов. Не рекомендуем смортеть ответы в поисковых ситемах, так как результаты теста не влияют на дальнейшее прохождение курса.
                        span.test__span Выберите вариант ответа:
                        .test__content 
                            button(type="button").test__item 
                                p.test__txt Вариант первый
                            button(type="button").test__item 
                                p.test__txt Вариант третий
                            button(type="button").test__item 
                                p.test__txt Вариант второй в две строчки, для понимания переноса текста 
                            button(type="button").test__item 
                                p.test__txt Вариант четвертый  
                        .test__buttons
                            button(type="button").selling__back.test__back
                                img(src="@img/selling-arrow.svg", alt="" draggable="false" loading="lazy")
                                | Назад
                            p.test__info Вопрос 1 из 12
                .lessons 
                    .lessons__top 
                        .lessons__img 
                            img(src="@img/lessons-ask.svg", alt="" draggable="false" loading="lazy")
                        .lessons__right 
                            h2.lessons__title Есть вопросы по уроку?
                            p.lessons__desc Напиши и мы поможем :)
                    form(action="").lessons__form
                        input(type="text" placeholder="Задать вопрос").lessons__input.comments__input
                        button(type="button" data-target="asks").lessons__btn.comments__btn.popup-open Отправить
                .comments   
                    h2.comments__title Комментарии
                    form(action="").lessons__form.comments__form
                        textarea(name="textarea" placeholder="Написать комментарий").lessons__input.comments__input
                        button(type="submit").lessons__btn Отправить
                    .comments__content.disable-xxl
                        .comments__item 
                            .comments__img 
                                 img(src="@img/comments-1.png", alt="" draggable="false" loading="lazy")
                            .comments__info 
                                .comments__top 
                                    span.comments__subtitle Константинов Константин #[span •]
                                    span.comments__span 4 месяца назад
                                p.comments__desc А ещё реплицированные с зарубежных источников, современные исследования и по сей день остаются уделом либералов, которые жаждут быть ассоциативно распределены по отраслям. #[br] #[br] Таким образом, разбавленное изрядной долей эмпатии, рациональное мышление требует анализа укрепления моральных ценностей.
                        .comments__item 
                            .comments__img 
                                 img(src="@img/comments-1.png", alt="" draggable="false" loading="lazy")
                            .comments__info 
                                .comments__top 
                                    span.comments__subtitle Константинов Константин #[span •]
                                    span.comments__span 4 месяца назад
                                p.comments__desc А ещё реплицированные с зарубежных источников, современные исследования и по сей день остаются уделом либералов, которые жаждут быть ассоциативно распределены по отраслям. #[br] #[br] Таким образом, разбавленное изрядной долей эмпатии, рациональное мышление требует анализа укрепления моральных ценностей.
                        .comments__item 
                            .comments__img 
                                 img(src="@img/comments-2.png", alt="" draggable="false" loading="lazy")
                            .comments__info 
                                .comments__top 
                                    span.comments__subtitle Константинов Константин #[span •]
                                    span.comments__span 4 месяца назад
                                p.comments__desc А ещё реплицированные с зарубежных источников, современные 
                        .comments__item 
                            .comments__img 
                                 img(src="@img/comments-3.png", alt="" draggable="false" loading="lazy")
                            .comments__info 
                                .comments__top 
                                    span.comments__subtitle Константинов Константин #[span •]
                                    span.comments__span 4 месяца назад
                                p.comments__desc А ещё реплицированные с зарубежных источников, современные исследования и по сей день остаются уделом либералов, которые жаждут быть ассоциативно распределены по отраслям.
                    .comments__slider.enable-xxl
                        .comments__swiper.swiper 
                            .comments__swiper-wrapper.swiper-wrapper 
                                .comments__slide.swiper-slide 
                                    .comments__item 
                                        .comments__img 
                                            img(src="@img/comments-1.png", alt="" draggable="false" loading="lazy")
                                            .comments__top.enable-xxl 
                                                span.comments__subtitle Константинов Константин #[span.disable-xxl •]
                                                span.comments__span 4 месяца назад
                                        .comments__info 
                                            .comments__top.disable-xxl 
                                                span.comments__subtitle Константинов Константин #[span.disable-xxl •]
                                                span.comments__span 4 месяца назад
                                            p.comments__desc А ещё реплицированные с зарубежных источников, современные исследования и по сей день остаются уделом либералов, которые жаждут быть ассоциативно распределены по отраслям. #[br] #[br] Таким образом, разбавленное изрядной долей эмпатии, рациональное мышление требует анализа укрепления моральных ценностей.
                                .comments__slide.swiper-slide 
                                    .comments__item 
                                        .comments__img 
                                            img(src="@img/comments-2.png", alt="" draggable="false" loading="lazy")
                                            .comments__top.enable-xxl 
                                                span.comments__subtitle Константинов Константин #[span.disable-xxl •]
                                                span.comments__span 4 месяца назад
                                        .comments__info 
                                            .comments__top.disable-xxl 
                                                span.comments__subtitle Константинов Константин #[span.disable-xxl •]
                                                span.comments__span 4 месяца назад
                                            p.comments__desc А ещё реплицированные с зарубежных источников, современные
                                .comments__slide.swiper-slide 
                                    .comments__item 
                                        .comments__img 
                                            img(src="@img/comments-3.png", alt="" draggable="false" loading="lazy")
                                            .comments__top.enable-xxl 
                                                span.comments__subtitle Константинов Константин #[span.disable-xxl •]
                                                span.comments__span 4 месяца назад
                                        .comments__info 
                                            .comments__top.disable-xxl 
                                                span.comments__subtitle Константинов Константин #[span •]
                                                span.comments__span 4 месяца назад
                                            p.comments__desc А ещё реплицированные с зарубежных источников, современные исследования и по сей день остаются уделом либералов, которые жаждут быть ассоциативно распределены по отраслям.
                        .swiper-buttons 
                            .swiper-pagination.comments-pagination
                .accordion__infos.downloads
                    .accordion__info.accordion__info_mb.enable-xxl 
                        h2.accordion__title
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 7L11 13.75L1 7L11 1L21 7ZM21 7V11M17.5 10V14.0682C17.5 15.1129 17.0913 16.116 16.3614 16.8633C14.9699 18.2878 13.1828 19 11 19C8.81719 19 7.03006 18.2878 5.63861 16.8633C4.90866 16.116 4.5 15.1129 4.5 14.0682V10" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            | Получить диплом
                        a(href="#!").accordion__link 1/60 уроков пройдено
                        a(href="#!").accordion__ask
                            img(src="@img/accordion-ask.svg", alt="" draggable="false" loading="lazy")  
                    .accordion__info.enable-xxl.accordion__info_download
                        h2.accordion__title.accordion__title_download
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 7L11 13.75L1 7L11 1L21 7ZM21 7V11M17.5 10V14.0682C17.5 15.1129 17.0913 16.116 16.3614 16.8633C14.9699 18.2878 13.1828 19 11 19C8.81719 19 7.03006 18.2878 5.63861 16.8633C4.90866 16.116 4.5 15.1129 4.5 14.0682V10" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            | Получить диплом
                        a(href="#!").accordion__link.accordion__link_download Скачать диплом в PDF 
                        a(href="#!").accordion__ask
                            img(src="@img/accordion-ask.svg", alt="" draggable="false" loading="lazy")
            .blocks__col
                .sidebar 
                    .sidebar__body
                        .accordion 
                            button(type="button").accordion__button.enable-xxl
                                span Блок 1. Введение
                                .sidebar__btn   
                                    span
                            .accordion__content 
                                .accordion__item.active
                                    .accordion__top.disable-xxl 
                                        p Блок 1. Введение
                                    ul.accordion__list    
                                        a(href="#!").accordion__p.active #[span 1.1] Блокчейн и крипторынок
                                        a(href="#!").accordion__p.active #[span 1.2] Торговля и инвестиции
                                        a(href="#!").accordion__p.active #[span 1.3] Фундаментальный анализ и технический анализ
                                        a(href="#!").accordion__p #[span 1.4] Влияние на финансовые рынки
                                        a(href="#!").accordion__p #[span 1.5] Рыночные тренды
                                        a(href="#!").accordion__p #[span 1.6] Закрепляем
                                .accordion__item
                                    .accordion__top 
                                        p Блок 2. Финансовые рынки и торговые инструменты
                                    ul.accordion__list    
                                        a(href="#!").accordion__p #[span 1.1] Блокчейн и крипторынок
                                        a(href="#!").accordion__p #[span 1.2] Торговля и инвестиции
                                        a(href="#!").accordion__p #[span 1.3] Фундаментальный анализ и технический анализ
                                        a(href="#!").accordion__p #[span 1.4] Влияние на финансовые рынки
                                        a(href="#!").accordion__p #[span 1.5] Рыночные тренды
                                        a(href="#!").accordion__p #[span 1.6] Закрепляем
                                .accordion__item
                                    .accordion__top 
                                        p Блок 3. Торговые и инвестиционные стратегии
                                    ul.accordion__list    
                                        a(href="#!").accordion__p #[span 1.1] Блокчейн и крипторынок
                                        a(href="#!").accordion__p #[span 1.2] Торговля и инвестиции
                                        a(href="#!").accordion__p #[span 1.3] Фундаментальный анализ и технический анализ
                                        a(href="#!").accordion__p #[span 1.4] Влияние на финансовые рынки
                                        a(href="#!").accordion__p #[span 1.5] Рыночные тренды
                                        a(href="#!").accordion__p #[span 1.6] Закрепляем
                                .accordion__item
                                    .accordion__top 
                                        p Блок 2. Финансовые рынки и торговые инструменты
                                    ul.accordion__list    
                                        a(href="#!").accordion__p #[span 1.1] Блокчейн и крипторынок
                                        a(href="#!").accordion__p #[span 1.2] Торговля и инвестиции
                                        a(href="#!").accordion__p #[span 1.3] Фундаментальный анализ и технический анализ
                                        a(href="#!").accordion__p #[span 1.4] Влияние на финансовые рынки
                                        a(href="#!").accordion__p #[span 1.5] Рыночные тренды
                                        a(href="#!").accordion__p #[span 1.6] Закрепляем
                                .accordion__item
                                    .accordion__top 
                                        p Блок 3. Торговые и инвестиционные стратегии
                                    ul.accordion__list    
                                        a(href="#!").accordion__p #[span 1.1] Блокчейн и крипторынок
                                        a(href="#!").accordion__p #[span 1.2] Торговля и инвестиции
                                        a(href="#!").accordion__p #[span 1.3] Фундаментальный анализ и технический анализ
                                        a(href="#!").accordion__p #[span 1.4] Влияние на финансовые рынки
                                        a(href="#!").accordion__p #[span 1.5] Рыночные тренды
                                        a(href="#!").accordion__p #[span 1.6] Закрепляем
                                .accordion__info.accordion__info_mb.disable-xxl 
                                    h2.accordion__title
                                        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21 7L11 13.75L1 7L11 1L21 7ZM21 7V11M17.5 10V14.0682C17.5 15.1129 17.0913 16.116 16.3614 16.8633C14.9699 18.2878 13.1828 19 11 19C8.81719 19 7.03006 18.2878 5.63861 16.8633C4.90866 16.116 4.5 15.1129 4.5 14.0682V10" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        | Получить диплом
                                    a(href="#!").accordion__link 1/60 уроков пройдено
                                    a(href="#!").accordion__ask
                                        img(src="@img/accordion-ask.svg", alt="" draggable="false" loading="lazy")  
                                .accordion__info.disable-xxl.accordion__info_download
                                    h2.accordion__title.accordion__title_download
                                        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21 7L11 13.75L1 7L11 1L21 7ZM21 7V11M17.5 10V14.0682C17.5 15.1129 17.0913 16.116 16.3614 16.8633C14.9699 18.2878 13.1828 19 11 19C8.81719 19 7.03006 18.2878 5.63861 16.8633C4.90866 16.116 4.5 15.1129 4.5 14.0682V10" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        | Получить диплом
                                    a(href="#!").accordion__link.accordion__link_download Скачать диплом в PDF 
                                    a(href="#!").accordion__ask
                                        img(src="@img/accordion-ask.svg", alt="" draggable="false" loading="lazy") 
