mixin course()
    .course     
        .course__body.container 
            h2.course__title.title #[span.title__span Кому ] подойдет курс?
            .course__top 
                .course__item
                    .course__item-content
                        .course__img 
                            img(src="@img/course-img-1.png", alt="" draggable="false" loading="lazy").disable-md
                            img(src="@img/course-img-1_sm.png", alt="" draggable="false" loading="lazy").enable-md
                        .course__texts
                            p.course__subtitle Начинающим инвесторам
                            p.course__desc.disable-smm Научим управлять инвестициями с помощью биржы Binance
                    p.course__desc.enable-smm Научим управлять инвестициями с помощью биржы Binance
                .course__item
                    .course__item-content
                        .course__img 
                            img(src="@img/course-img-2.png", alt="" draggable="false" loading="lazy").disable-md
                            img(src="@img/course-img-2_sm.png", alt="" draggable="false" loading="lazy").enable-md
                        .course__texts
                            p.course__subtitle Начинающим трейдерам
                            p.course__desc.disable-smm Расскажем как торговать и исползовать инструменты для снижения рисков
                    p.course__desc.enable-smm Научим управлять инвестициями с помощью биржы Binance
                .course__item
                    .course__item-content
                        .course__img 
                            img(src="@img/course-img-3.png", alt="" draggable="false" loading="lazy").disable-md
                            img(src="@img/course-img-3_sm.png", alt="" draggable="false" loading="lazy").enable-md
                        .course__texts
                            p.course__subtitle Если хочется разобраться
                            p.course__desc.disable-smm Давно хотели понять как это устроенно, но боялись спросить? Тогда этот курс - отличное начало.
                    p.course__desc.enable-smm Научим управлять инвестициями с помощью биржы Binance
            .course__bottom
                h2.course__title.title #[span.title__span Практическая]  часть #[span.title__span +] рекомендации опытных инвесторов и трейдеров
                ul.course__list 
                    li.course__li Пошаговая инструкция по старту работы с биржей Binance
                    li.course__li Разберем каждый элемент интерфейса торгового терминала с подробной инструкцией по исползованию. 
                    li.course__li Изучите рекомендации от опытных наставников, чтоб снизить риски и действовать правлиьно.
                    li.course__li Изучите рекомендации от опытных наставников, чтоб снизить риски и действовать правлиьно.