mixin info()
    .info 
        .info__body.container 
            h2.info__title Курс торговли на #[span Binance Futures] #[span.enable-xl *] для новичков
            .info__img 
                img(src="@img/info-bg.svg", alt="" draggable="false" loading="lazy")