mixin intro()   
    .intro
        .intro__body.container
            .intro__content
                h1.intro__title Курс торговли на #[span Binance Futures*] для новичков
                .intro__prices.disable-md
                    .intro__price
                        span.intro__span Новая цена
                        p.intro__p 3 999 ₽
                        span.intro__span Выгода #[span 75%]
                    .intro__price_sm
                        span Старая цена
                        p 12 500 ₽
                p.intro__desc.disable-xxl.disable-md До конца акции 
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.49984 1.41666C4.59409 1.41666 1.4165 4.59424 1.4165 8.49999C1.4165 12.4057 4.59409 15.5833 8.49984 15.5833C12.4056 15.5833 15.5832 12.4057 15.5832 8.49999C15.5832 4.59424 12.4056 1.41666 8.49984 1.41666ZM8.49984 14.1667C5.37538 14.1667 2.83317 11.6244 2.83317 8.49999C2.83317 5.37553 5.37538 2.83332 8.49984 2.83332C11.6243 2.83332 14.1665 5.37553 14.1665 8.49999C14.1665 11.6244 11.6243 14.1667 8.49984 14.1667Z" fill="white"/>
                        <path d="M9.20817 4.95834H7.7915V9.20834H12.0415V7.79168H9.20817V4.95834Z" fill="white"/>
                    </svg>  
                    | 0 дней 12 часов 50 минут
                .intro__btns.disable-xxl
                    a(href="#offer").intro__btn.btn-primary Купить
                    a(href="#programms").intro__button 
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.9139 4.60429C11.5005 1.54141 9.36404 0 6.5 0C3.63446 0 1.49948 1.54141 0.0860931 4.60583C0.0294018 4.72932 0 4.8642 0 5.00077C0 5.13734 0.0294018 5.27221 0.0860931 5.39571C1.49948 8.45859 3.63595 10 6.5 10C9.36553 10 11.5005 8.45859 12.9139 5.39417C13.0287 5.14571 13.0287 4.85736 12.9139 4.60429ZM6.5 8.89571C4.09515 8.89571 2.33439 7.6411 1.09246 5C2.33439 2.3589 4.09515 1.10429 6.5 1.10429C8.90484 1.10429 10.6656 2.3589 11.9075 5C10.6671 7.6411 8.90633 8.89571 6.5 8.89571ZM6.44036 2.30061C4.99119 2.30061 3.81635 3.5092 3.81635 5C3.81635 6.4908 4.99119 7.69939 6.44036 7.69939C7.88953 7.69939 9.06436 6.4908 9.06436 5C9.06436 3.5092 7.88953 2.30061 6.44036 2.30061ZM6.44036 6.71779C5.51748 6.71779 4.77054 5.94939 4.77054 5C4.77054 4.05061 5.51748 3.28221 6.44036 3.28221C7.36323 3.28221 8.11018 4.05061 8.11018 5C8.11018 5.94939 7.36323 6.71779 6.44036 6.71779Z" fill="none"/>
                        </svg>
                        | Программа курса
                p.intro__info.disable-xxl #[span * Binance Futures] - ведущая в мире по объему торогов криптовалютная биржа
            .intro__right
                .intro__img.disable-lg
                    img(src="@img/intro-bg.png", alt="" draggable="false" loading="lazy").disable-xxl
                    img(src="@img/intro-bg_xl.png", alt="" draggable="false" loading="lazy").enable-xxl
                .intro__img.intro__img_abs.enable-lg.disable-md
                    img(src="@img/intro-img_lg.png", alt="" draggable="false" loading="lazy").enable-lg
                .intro__img.enable-md
                    img(src="@img/intro-bg.png", alt="" draggable="false" loading="lazy")
        .intro__bottom.container.enable-xxl
            .intro__prices.enable-md
                .intro__price
                    span.intro__span Новая цена
                    p.intro__p 3 999 ₽
                    span.intro__span Выгода #[span 75%]
                .intro__price_sm
                    span Старая цена
                    p 12 500 ₽
            p.intro__desc.disable-xxl.enable-lg.enable-md До конца акции 
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.49984 1.41666C4.59409 1.41666 1.4165 4.59424 1.4165 8.49999C1.4165 12.4057 4.59409 15.5833 8.49984 15.5833C12.4056 15.5833 15.5832 12.4057 15.5832 8.49999C15.5832 4.59424 12.4056 1.41666 8.49984 1.41666ZM8.49984 14.1667C5.37538 14.1667 2.83317 11.6244 2.83317 8.49999C2.83317 5.37553 5.37538 2.83332 8.49984 2.83332C11.6243 2.83332 14.1665 5.37553 14.1665 8.49999C14.1665 11.6244 11.6243 14.1667 8.49984 14.1667Z" fill="white"/>
                    <path d="M9.20817 4.95834H7.7915V9.20834H12.0415V7.79168H9.20817V4.95834Z" fill="white"/>
                </svg>  
                | 0 дней 12 часов 50 минут
            .intro__btns
                a(href="#offer").intro__btn.btn-primary Купить
                a(href="#programms").intro__button 
                    <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.9139 4.60429C11.5005 1.54141 9.36404 0 6.5 0C3.63446 0 1.49948 1.54141 0.0860931 4.60583C0.0294018 4.72932 0 4.8642 0 5.00077C0 5.13734 0.0294018 5.27221 0.0860931 5.39571C1.49948 8.45859 3.63595 10 6.5 10C9.36553 10 11.5005 8.45859 12.9139 5.39417C13.0287 5.14571 13.0287 4.85736 12.9139 4.60429ZM6.5 8.89571C4.09515 8.89571 2.33439 7.6411 1.09246 5C2.33439 2.3589 4.09515 1.10429 6.5 1.10429C8.90484 1.10429 10.6656 2.3589 11.9075 5C10.6671 7.6411 8.90633 8.89571 6.5 8.89571ZM6.44036 2.30061C4.99119 2.30061 3.81635 3.5092 3.81635 5C3.81635 6.4908 4.99119 7.69939 6.44036 7.69939C7.88953 7.69939 9.06436 6.4908 9.06436 5C9.06436 3.5092 7.88953 2.30061 6.44036 2.30061ZM6.44036 6.71779C5.51748 6.71779 4.77054 5.94939 4.77054 5C4.77054 4.05061 5.51748 3.28221 6.44036 3.28221C7.36323 3.28221 8.11018 4.05061 8.11018 5C8.11018 5.94939 7.36323 6.71779 6.44036 6.71779Z" fill="none"/>
                    </svg>
                    | Программа курса
            p.intro__info #[span * Binance Futures] - ведущая в мире по объему торогов криптовалютная биржа
                        