mixin offer()
    .offer 
        .offer__body.container 
            h2.title.offer__title Начни учиться <span class="title__span">прямо сейчас! </span>
            .offer__row 
                .offer__content 
                    .offer__intro 
                        p.offer__intro-title Курс торговли на #[span Binance Futures] #[br]для новичков
                        .offer__intro-prices 
                            .offer__intro-prices-new 
                                span.offer__intro-prices-title Новая цена
                                p.offer__intro-prices-p 3 999 ₽
                                p.offer__intro-prices-adv Выгода #[span 75%]
                            .offer__intro-prices-old 
                                span.offer__intro-prices-title Старая цена
                                p.offer__intro-prices-p 12 500 ₽
                        .offer__intro-p До конца акции 
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.50033 1.4165C4.59458 1.4165 1.41699 4.59409 1.41699 8.49984C1.41699 12.4056 4.59458 15.5832 8.50033 15.5832C12.4061 15.5832 15.5837 12.4056 15.5837 8.49984C15.5837 4.59409 12.4061 1.4165 8.50033 1.4165ZM8.50033 14.1665C5.37587 14.1665 2.83366 11.6243 2.83366 8.49984C2.83366 5.37538 5.37587 2.83317 8.50033 2.83317C11.6248 2.83317 14.167 5.37538 14.167 8.49984C14.167 11.6243 11.6248 14.1665 8.50033 14.1665Z" fill="white"/>
                                <path d="M9.20866 4.9585H7.79199V9.2085H12.042V7.79183H9.20866V4.9585Z" fill="white"/>
                            </svg>
                            span #[b 0] дней #[b 12] часов #[b 50] минут 
                    ul.offer__list
                        li.offer__li 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.0741 2.633C11.3941 1.789 12.6051 1.789 12.9261 2.633L14.9961 8.367C15.0683 8.55379 15.1955 8.71428 15.3608 8.8273C15.5261 8.94031 15.7218 9.00053 15.9221 9H21.0091C21.9491 9 22.3591 10.17 21.6201 10.743L18.0001 14C17.8379 14.1247 17.7194 14.2975 17.6616 14.4937C17.6037 14.6898 17.6095 14.8993 17.6781 15.092L19.0001 20.695C19.3221 21.595 18.2801 22.368 17.4921 21.814L12.5751 18.694C12.4067 18.5757 12.2059 18.5122 12.0001 18.5122C11.7943 18.5122 11.5935 18.5757 11.4251 18.694L6.50808 21.814C5.72108 22.368 4.67808 21.594 5.00008 20.695L6.32208 15.092C6.39066 14.8993 6.39643 14.6898 6.33859 14.4937C6.28074 14.2975 6.16223 14.1247 6.00008 14L2.38008 10.743C1.64008 10.17 2.05208 9 2.99008 9H8.07708C8.27737 9.00067 8.47314 8.9405 8.63849 8.82747C8.80385 8.71444 8.93098 8.55387 9.00308 8.367L11.0731 2.633H11.0741Z" stroke="#0ECB81" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            span #[b Пожизненный] доступ к курсу
                        li.offer__li 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.0741 2.633C11.3941 1.789 12.6051 1.789 12.9261 2.633L14.9961 8.367C15.0683 8.55379 15.1955 8.71428 15.3608 8.8273C15.5261 8.94031 15.7218 9.00053 15.9221 9H21.0091C21.9491 9 22.3591 10.17 21.6201 10.743L18.0001 14C17.8379 14.1247 17.7194 14.2975 17.6616 14.4937C17.6037 14.6898 17.6095 14.8993 17.6781 15.092L19.0001 20.695C19.3221 21.595 18.2801 22.368 17.4921 21.814L12.5751 18.694C12.4067 18.5757 12.2059 18.5122 12.0001 18.5122C11.7943 18.5122 11.5935 18.5757 11.4251 18.694L6.50808 21.814C5.72108 22.368 4.67808 21.594 5.00008 20.695L6.32208 15.092C6.39066 14.8993 6.39643 14.6898 6.33859 14.4937C6.28074 14.2975 6.16223 14.1247 6.00008 14L2.38008 10.743C1.64008 10.17 2.05208 9 2.99008 9H8.07708C8.27737 9.00067 8.47314 8.9405 8.63849 8.82747C8.80385 8.71444 8.93098 8.55387 9.00308 8.367L11.0731 2.633H11.0741Z" stroke="#0ECB81" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            span #[b Еще один] доступ совершенно бесплатно!
                        li.offer__li 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.0741 2.633C11.3941 1.789 12.6051 1.789 12.9261 2.633L14.9961 8.367C15.0683 8.55379 15.1955 8.71428 15.3608 8.8273C15.5261 8.94031 15.7218 9.00053 15.9221 9H21.0091C21.9491 9 22.3591 10.17 21.6201 10.743L18.0001 14C17.8379 14.1247 17.7194 14.2975 17.6616 14.4937C17.6037 14.6898 17.6095 14.8993 17.6781 15.092L19.0001 20.695C19.3221 21.595 18.2801 22.368 17.4921 21.814L12.5751 18.694C12.4067 18.5757 12.2059 18.5122 12.0001 18.5122C11.7943 18.5122 11.5935 18.5757 11.4251 18.694L6.50808 21.814C5.72108 22.368 4.67808 21.594 5.00008 20.695L6.32208 15.092C6.39066 14.8993 6.39643 14.6898 6.33859 14.4937C6.28074 14.2975 6.16223 14.1247 6.00008 14L2.38008 10.743C1.64008 10.17 2.05208 9 2.99008 9H8.07708C8.27737 9.00067 8.47314 8.9405 8.63849 8.82747C8.80385 8.71444 8.93098 8.55387 9.00308 8.367L11.0731 2.633H11.0741Z" stroke="#0ECB81" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            span Курс создан #[b пионерами криптовалюты]
                        li.offer__li 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.0741 2.633C11.3941 1.789 12.6051 1.789 12.9261 2.633L14.9961 8.367C15.0683 8.55379 15.1955 8.71428 15.3608 8.8273C15.5261 8.94031 15.7218 9.00053 15.9221 9H21.0091C21.9491 9 22.3591 10.17 21.6201 10.743L18.0001 14C17.8379 14.1247 17.7194 14.2975 17.6616 14.4937C17.6037 14.6898 17.6095 14.8993 17.6781 15.092L19.0001 20.695C19.3221 21.595 18.2801 22.368 17.4921 21.814L12.5751 18.694C12.4067 18.5757 12.2059 18.5122 12.0001 18.5122C11.7943 18.5122 11.5935 18.5757 11.4251 18.694L6.50808 21.814C5.72108 22.368 4.67808 21.594 5.00008 20.695L6.32208 15.092C6.39066 14.8993 6.39643 14.6898 6.33859 14.4937C6.28074 14.2975 6.16223 14.1247 6.00008 14L2.38008 10.743C1.64008 10.17 2.05208 9 2.99008 9H8.07708C8.27737 9.00067 8.47314 8.9405 8.63849 8.82747C8.80385 8.71444 8.93098 8.55387 9.00308 8.367L11.0731 2.633H11.0741Z" stroke="#0ECB81" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            span Вся информация в курсе нацеллена на #[b безопасность торговли], а не рискованное поведение 
                form(action="#!").offer__form 
                    p.offer__form-title #[b Шаг 1.] Выбери вариант оплаты 
                        .offer__form-row 
                            .offer__form-item 
                                input(type="radio" name="payment-type" value="card" checked)
                                .offer__form-item-cover 
                                p.offer__form-item-title Банковской картой всю сумму 3 999 ₽
                                .offer__form-item-img 
                                    div 
                                        img(src="@img/mir.png", alt="" draggable="false")
                                    div 
                                        img(src="@img/visa.png", alt="" draggable="false")
                                    div 
                                        img(src="@img/mastercard.png", alt="" draggable="false")
                                    div 
                                        img(src="@img/qiwi.png", alt="" draggable="false")
                                    div 
                                        img(src="@img/yumoney.png", alt="" draggable="false")
                            .offer__form-item 
                                input(type="radio" name="payment-type" value="installment")
                                .offer__form-item-cover 
                                p.offer__form-item-title В рассрочку от Тинькофф
                                .offer__form-item-img 
                                    div 
                                        img(src="@img/tinkoff.png", alt="" draggable="false")
                    p.offer__form-title #[b Шаг 2.] Введите свои данные 
                        .offer__form-input
                            input(type="text" placeholder="Введите имя" required).input
                        .offer__form-input.offer__form-input_tel
                            span +7
                            hr 
                            input(type="tel" placeholder="Введите телефон" required).input
                        .offer__form-input
                            input(type="email" placeholder="Введите e-mail" required).input
                        .offer__form-p 
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.95 5.25C1.59101 5.25 1.3 5.52982 1.3 5.875V12.125C1.3 12.4702 1.59101 12.75 1.95 12.75H11.05C11.409 12.75 11.7 12.4702 11.7 12.125V5.875C11.7 5.52982 11.409 5.25 11.05 5.25H1.95ZM0 5.875C0 4.83947 0.873045 4 1.95 4H11.05C12.127 4 13 4.83947 13 5.875V12.125C13 13.1605 12.127 14 11.05 14H1.95C0.873045 14 0 13.1605 0 12.125V5.875Z" fill="#0ECB81"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.04277 0.0489113C4.54712 -0.0493056 5.06989 0.00110292 5.54498 0.193762C5.91257 0.342829 6.23884 0.571877 6.5 0.861793C6.76116 0.571877 7.08743 0.342829 7.45502 0.193762C7.93011 0.00110292 8.45288 -0.0493056 8.95723 0.0489113C9.46158 0.147128 9.92486 0.389559 10.2885 0.745548C10.6521 1.10154 10.8997 1.55509 11 2.04886C11.1004 2.54263 11.0489 3.05444 10.8521 3.51956C10.6553 3.98468 10.322 4.38223 9.89448 4.66192C9.46691 4.94162 8.96423 5.09091 8.45 5.09091C8.27761 5.09091 8.11228 5.02386 7.99038 4.90452L7.15 4.08177V8.27273H12.35C12.709 8.27273 13 8.55764 13 8.90909C13 9.26054 12.709 9.54545 12.35 9.54545H7.15V13.3636C7.15 13.7151 6.85899 14 6.5 14C6.14101 14 5.85 13.7151 5.85 13.3636V9.54545H0.65C0.291015 9.54545 0 9.26054 0 8.90909C0 8.55764 0.291015 8.27273 0.65 8.27273H5.85V4.08177L5.00962 4.90452C4.88772 5.02386 4.72239 5.09091 4.55 5.09091C4.03577 5.09091 3.53308 4.94162 3.10552 4.66192C2.67795 4.38223 2.3447 3.98468 2.14791 3.51956C1.95113 3.05444 1.89964 2.54263 1.99996 2.04886C2.10028 1.55509 2.34791 1.10154 2.71152 0.745548C3.07514 0.389559 3.53841 0.147128 4.04277 0.0489113ZM7.17345 2.30482L8.69579 3.79523C8.86526 3.76328 9.02737 3.69846 9.17224 3.60369C9.38602 3.46384 9.55265 3.26507 9.65104 3.03251C9.74944 2.79995 9.77518 2.54404 9.72502 2.29716C9.67486 2.05027 9.55105 1.8235 9.36924 1.6455C9.18743 1.46751 8.95579 1.34629 8.70362 1.29718C8.45144 1.24807 8.19006 1.27328 7.95251 1.36961C7.71497 1.46594 7.51194 1.62907 7.36909 1.83837C7.27229 1.98019 7.20608 2.13891 7.17345 2.30482ZM5.82655 2.30482C5.79392 2.13891 5.72771 1.98019 5.63091 1.83837C5.48806 1.62907 5.28503 1.46594 5.04749 1.36961C4.80994 1.27328 4.54856 1.24807 4.29638 1.29718C4.04421 1.34629 3.81257 1.46751 3.63076 1.6455C3.44895 1.8235 3.32514 2.05027 3.27498 2.29716C3.22482 2.54404 3.25056 2.79995 3.34896 3.03251C3.44735 3.26507 3.61397 3.46384 3.82776 3.60369C3.97263 3.69846 4.13474 3.76328 4.30421 3.79523L5.82655 2.30482Z" fill="#0ECB81"/>
                            </svg>
                            p Пришлем на Ваш email #[b еще один доступ] в подарок!
                        .offer__form-req 
                            input(type="checkbox" checked required).checkbox#check
                            label(for="check")  Принимаю пользовательское соглашение и соглашаюсь на обработку персональной информации
                    button(type="submit").offer__form-btn Купить
