mixin popup()
    .popup#signup 
        .popup__overlay.popup-close
        .popup__wrapper 
            .popup__body 
                button().popup-close 
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.913698C0.683417 0.522257 1.31658 0.522257 1.70711 0.913698L9 8.22372L16.2929 0.913698C16.6834 0.522257 17.3166 0.522257 17.7071 0.913698C18.0976 1.30514 18.0976 1.93979 17.7071 2.33123L10.4142 9.64125L17.7071 16.9513C18.0976 17.3427 18.0976 17.9774 17.7071 18.3688C17.3166 18.7602 16.6834 18.7602 16.2929 18.3688L9 11.0588L1.70711 18.3688C1.31658 18.7602 0.683417 18.7602 0.292893 18.3688C-0.0976311 17.9774 -0.0976311 17.3427 0.292893 16.9513L7.58579 9.64125L0.292893 2.33123C-0.0976311 1.93979 -0.0976311 1.30514 0.292893 0.913698Z" fill=""/>
                    </svg> 
                .popup__info 
                    p.popup__info-title Регистрация аккаунта
                    p.popup__info-p Добро пожаловать #[br]#[span в первый онлайн университет] обучения торговли криптовалютой!
                    .popup__info-img
                        img(src="@img/register.png", alt="" draggable="false" loading="lazy")
                form(action="#" method="post").popup__content
                    p.popup__content-title Введите свои данные 
                    input(type="text" id="name" name="name" placeholder="Введите имя" required).input.popup__content-input
                    input(type="email" id="email" name="email" placeholder="Введите email" required).input.popup__content-input
                    input(type="password" id="password" name="password" placeholder="Введите пароль" required).input.popup__content-input
                    input(type="password" id="re-password" name="re-password" placeholder="Повторите пароль" required).input.popup__content-input
                    .popup__content-chk 
                        input(type="checkbox" name="acception" id="acception" required).chk
                        label(for="acception") Принимаю пользовательское соглашение и соглашаюсь на обработку персональной информации 
                    .popup__content-seperator 
                    p.popup__content-p Регистрация через соц. сети:
                    .popup__content-row 
                        a(href="#!").popup__content-item
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="48" height="48" rx="4" fill="#181A20"/>
                                <path d="M35.3846 18.5919C35.4891 18.0731 35.2588 17.7823 34.7142 17.7823H31.9708C31.3426 17.7823 31.1121 18.0521 30.9237 18.4465C30.9237 18.4465 29.4697 21.7319 27.6648 23.7058C27.0855 24.344 26.9838 24.5359 26.6639 24.5359C26.4059 24.5359 26.287 24.3228 26.287 23.7471V18.7034C26.287 17.9977 26.2042 17.7823 25.6168 17.7823H21.25C20.9131 17.7823 20.6881 17.9642 20.6881 18.2277C20.6881 18.8923 21.7142 19.0423 21.7142 20.8431V24.5584C21.7142 25.3057 21.6723 25.5962 21.3163 25.5962C20.3739 25.5962 17.9267 22.3982 16.6702 18.7449C16.4187 17.9977 16.1478 17.7823 15.4334 17.7823H12.697C12.2991 17.7823 12 18.0598 12 18.4542C12 19.1807 12.8585 22.5434 16.2304 27.0475C18.492 30.0779 21.6587 31.7178 24.3392 31.7178C25.9729 31.7178 26.287 31.4367 26.287 30.7515V28.4269C26.287 27.8457 26.5173 27.5965 26.8523 27.5965C27.2293 27.5965 27.7857 27.728 29.3403 29.2477C31.1831 30.9913 31.3088 31.7178 32.3143 31.7178H35.3925C35.7068 31.7178 36 31.5724 36 31.0536C36 30.3684 35.0994 29.1439 33.7172 27.6909C33.1518 26.9436 32.2302 26.1343 31.9371 25.7607C31.5182 25.3247 31.6439 25.0755 31.9371 24.619C31.9371 24.619 35.0702 20.0448 35.3846 18.5919Z" fill="white"/>
                            </svg>
                        a(href="#!").popup__content-item
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="48" height="48" rx="4" fill="#181A20"/>
                                <path d="M34.7654 24.2475C34.7654 23.5234 34.7012 22.8359 34.5912 22.1667H24.2329V26.3009H30.1637C29.8979 27.6575 29.1187 28.8034 27.9637 29.5825V32.3325H31.5021C33.5737 30.4167 34.7654 27.5934 34.7654 24.2475Z" fill="white"/>
                                <path d="M24.2345 35.0001C27.2045 35.0001 29.6887 34.0101 31.5037 32.3326L27.9653 29.5826C26.9753 30.2426 25.7195 30.6459 24.2345 30.6459C21.3653 30.6459 18.9362 28.7117 18.0653 26.0992H14.417V28.9317C16.2228 32.5251 19.9353 35.0001 24.2345 35.0001Z" fill="white"/>
                                <path d="M18.0637 26.0992C17.8346 25.4392 17.7154 24.7334 17.7154 24C17.7154 23.2667 17.8437 22.5609 18.0637 21.9009V19.0684H14.4154C13.6637 20.5534 13.2329 22.2217 13.2329 24C13.2329 25.7784 13.6637 27.4467 14.4154 28.9317L18.0637 26.0992Z" fill="white"/>
                                <path d="M24.2345 17.3542C25.857 17.3542 27.3053 17.9133 28.4512 19.0042L31.5862 15.8692C29.6887 14.0908 27.2045 13 24.2345 13C19.9353 13 16.2228 15.475 14.417 19.0683L18.0653 21.9008C18.9362 19.2883 21.3653 17.3542 24.2345 17.3542Z" fill="white"/>
                            </svg> 
                        a(href="#!").popup__content-item
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="48" height="48" rx="4" fill="#181A20"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.3381 23.9999C35.3381 30.2617 30.2619 35.3379 24.0001 35.3379C17.7383 35.3379 12.6621 30.2617 12.6621 23.9999C12.6621 17.7381 17.7383 12.6619 24.0001 12.6619C30.2619 12.6619 35.3381 17.7381 35.3381 23.9999ZM25.7799 31.0863H25.7792H25.7692V18.8285H24.6638C22.641 18.8285 21.577 19.8482 21.577 21.3569C21.577 23.0739 22.3175 23.8647 23.8297 24.8844L25.0812 25.7171L21.4828 31.0863H18.8027L22.0354 26.293C20.1755 24.9738 19.1365 23.6732 19.1365 21.5025C19.1365 18.7662 21.0345 16.9138 24.6531 16.9138H28.2512V31.0863H25.7799Z" fill="white"/>
                            </svg>
                    button(type="submit").popup__content-btn Создать аккаунт
                    .popup__content-link Уже есть аккаунт?  #[button(type='button' data-target="signin").popup-open Войти]
    
    .popup#signin 
        .popup__overlay.popup-close
        .popup__wrapper 
            .popup__body
                .popup-close 
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.913698C0.683417 0.522257 1.31658 0.522257 1.70711 0.913698L9 8.22372L16.2929 0.913698C16.6834 0.522257 17.3166 0.522257 17.7071 0.913698C18.0976 1.30514 18.0976 1.93979 17.7071 2.33123L10.4142 9.64125L17.7071 16.9513C18.0976 17.3427 18.0976 17.9774 17.7071 18.3688C17.3166 18.7602 16.6834 18.7602 16.2929 18.3688L9 11.0588L1.70711 18.3688C1.31658 18.7602 0.683417 18.7602 0.292893 18.3688C-0.0976311 17.9774 -0.0976311 17.3427 0.292893 16.9513L7.58579 9.64125L0.292893 2.33123C-0.0976311 1.93979 -0.0976311 1.30514 0.292893 0.913698Z" fill=""/>
                    </svg>  
                form(action="#" method="post").popup__content
                    p.popup__content-title Вход в аккаунт
                    input(type="email" id="logemail" name="email" placeholder="Введите email" required).input.popup__content-input
                    input(type="password" id="logpassword" name="password" placeholder="Введите пароль" required).input.popup__content-input
                    a(href="#!").popup__content-a Забыли пароль?
                    .popup__content-seperator 
                    p.popup__content-p Вход через соц. сети:
                    .popup__content-row 
                        a(href="#!").popup__content-item
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                                <rect width="48" height="48" rx="4" fill="#181A20"/> 
                                <path d="M35.3846 18.5919C35.4891 18.0731 35.2588 17.7823 34.7142 17.7823H31.9708C31.3426 17.7823 31.1121 18.0521 30.9237 18.4465C30.9237 18.4465 29.4697 21.7319 27.6648 23.7058C27.0855 24.344 26.9838 24.5359 26.6639 24.5359C26.4059 24.5359 26.287 24.3228 26.287 23.7471V18.7034C26.287 17.9977 26.2042 17.7823 25.6168 17.7823H21.25C20.9131 17.7823 20.6881 17.9642 20.6881 18.2277C20.6881 18.8923 21.7142 19.0423 21.7142 20.8431V24.5584C21.7142 25.3057 21.6723 25.5962 21.3163 25.5962C20.3739 25.5962 17.9267 22.3982 16.6702 18.7449C16.4187 17.9977 16.1478 17.7823 15.4334 17.7823H12.697C12.2991 17.7823 12 18.0598 12 18.4542C12 19.1807 12.8585 22.5434 16.2304 27.0475C18.492 30.0779 21.6587 31.7178 24.3392 31.7178C25.9729 31.7178 26.287 31.4367 26.287 30.7515V28.4269C26.287 27.8457 26.5173 27.5965 26.8523 27.5965C27.2293 27.5965 27.7857 27.728 29.3403 29.2477C31.1831 30.9913 31.3088 31.7178 32.3143 31.7178H35.3925C35.7068 31.7178 36 31.5724 36 31.0536C36 30.3684 35.0994 29.1439 33.7172 27.6909C33.1518 26.9436 32.2302 26.1343 31.9371 25.7607C31.5182 25.3247 31.6439 25.0755 31.9371 24.619C31.9371 24.619 35.0702 20.0448 35.3846 18.5919Z" fill="white"/>
                            </svg> 
                        a(href="#!").popup__content-item 
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="48" height="48" rx="4" fill="#181A20"/>
                                <path d="M34.7654 24.2475C34.7654 23.5234 34.7012 22.8359 34.5912 22.1667H24.2329V26.3009H30.1637C29.8979 27.6575 29.1187 28.8034 27.9637 29.5825V32.3325H31.5021C33.5737 30.4167 34.7654 27.5934 34.7654 24.2475Z" fill="white"/>
                                <path d="M24.2345 35.0001C27.2045 35.0001 29.6887 34.0101 31.5037 32.3326L27.9653 29.5826C26.9753 30.2426 25.7195 30.6459 24.2345 30.6459C21.3653 30.6459 18.9362 28.7117 18.0653 26.0992H14.417V28.9317C16.2228 32.5251 19.9353 35.0001 24.2345 35.0001Z" fill="white"/>
                                <path d="M18.0637 26.0992C17.8346 25.4392 17.7154 24.7334 17.7154 24C17.7154 23.2667 17.8437 22.5609 18.0637 21.9009V19.0684H14.4154C13.6637 20.5534 13.2329 22.2217 13.2329 24C13.2329 25.7784 13.6637 27.4467 14.4154 28.9317L18.0637 26.0992Z" fill="white"/>
                                <path d="M24.2345 17.3542C25.857 17.3542 27.3053 17.9133 28.4512 19.0042L31.5862 15.8692C29.6887 14.0908 27.2045 13 24.2345 13C19.9353 13 16.2228 15.475 14.417 19.0683L18.0653 21.9008C18.9362 19.2883 21.3653 17.3542 24.2345 17.3542Z" fill="white"/>
                            </svg> 
                        a(href="#!").popup__content-item
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="48" height="48" rx="4" fill="#181A20"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.3381 23.9999C35.3381 30.2617 30.2619 35.3379 24.0001 35.3379C17.7383 35.3379 12.6621 30.2617 12.6621 23.9999C12.6621 17.7381 17.7383 12.6619 24.0001 12.6619C30.2619 12.6619 35.3381 17.7381 35.3381 23.9999ZM25.7799 31.0863H25.7792H25.7692V18.8285H24.6638C22.641 18.8285 21.577 19.8482 21.577 21.3569C21.577 23.0739 22.3175 23.8647 23.8297 24.8844L25.0812 25.7171L21.4828 31.0863H18.8027L22.0354 26.293C20.1755 24.9738 19.1365 23.6732 19.1365 21.5025C19.1365 18.7662 21.0345 16.9138 24.6531 16.9138H28.2512V31.0863H25.7799Z" fill="white"/>
                            </svg>
                    button(type="submit").popup__content-btn Войти
                    .popup__content-link Ещё нет аккаунта? #[button(type='button' data-target="signin").popup-open Зарегистрироваться]

    .popup#asks
        .popup__overlay.popup-close 
        form(action="#" method="post").popup__content 
            .popup__img 
                img(src="@img/ask-img.png", alt="" draggable="false" loading="lazy")
            h2.popup__title Спасибо за вопрос!
            p.popup__desc Мы ответим на него в течении 3х часов. Ответ придет на вашу почту указанную при регистрации. Если ваш вопрос покажется нам полезным - мы опубликуем его для всех пользователей. 

    .popup#ura 
        .popup__overlay.popup-close 
        form(action="#" method="post").popup__content 
            .popup__img 
                img(src="@img/ura.png", alt="" draggable="false" loading="lazy")
            h2.popup__title Ура! #[span Теперь можно начать учиться!]
            a(href="#!").popup__btn.btn-primary Смотреть курс 

    .popup#fail 
        .popup__overlay.popup-close 
        form(action="#" method="post").popup__content 
            .popup__img 
                img(src="@img/fail.png", alt="" draggable="false" loading="lazy")
            h2.popup__title Ой,  #[span что-то пошло не так.]
            p.popup__desc Если это уже не первый раз напишите на почту #[span help@binuni.ru] 

    .popup#video 
        .popup__overlay.popup-close 
        .popup__wrapper 
            .popup__video 
                img(src="@img/video.png", alt="" draggable="false" loading="lazy") 
                a(href="#!").testimonials__play
                    img(src="@img/testimonials-play.svg", alt="" draggable="false" loading="lazy")

    .popup#password-popup 
        .popup__overlay.popup-close
        form(action="#" method="post").popup__content
            .popup-close 
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.913698C0.683417 0.522257 1.31658 0.522257 1.70711 0.913698L9 8.22372L16.2929 0.913698C16.6834 0.522257 17.3166 0.522257 17.7071 0.913698C18.0976 1.30514 18.0976 1.93979 17.7071 2.33123L10.4142 9.64125L17.7071 16.9513C18.0976 17.3427 18.0976 17.9774 17.7071 18.3688C17.3166 18.7602 16.6834 18.7602 16.2929 18.3688L9 11.0588L1.70711 18.3688C1.31658 18.7602 0.683417 18.7602 0.292893 18.3688C-0.0976311 17.9774 -0.0976311 17.3427 0.292893 16.9513L7.58579 9.64125L0.292893 2.33123C-0.0976311 1.93979 -0.0976311 1.30514 0.292893 0.913698Z" fill=""/>
                </svg>  
            form(action="#").popup__form 
                p.popup__content-title Восстановление пароля
                p.popup__content-desc Лучше новый, чем хорошо забытый старый
                input(type="text" placeholder="Введите email").popup__content-input.input
                button(type="submit").popup__content-btn.btn-primary Восстановить
                .popup__content-link #[button(type="button" data-target="signin").popup-open Войти]  или  #[button(type="button" data-target="signup").popup-open Зарегистрироваться]

    .popup#help 
        .popup__overlay.popup-close
        .popup__wrapper 
            .popup__body  
                .popup__info
                    h2.popup__info-title Личные данные
                    .popup__info-links
                        button(type="button" data-target="personals").popup__info-btn.change-content.active Личные данные            
                        button(type="button" data-target="payment").popup__info-btn.change-content Оплата            
                        button(type="button" data-target="helpcontent").popup__info-btn.change-content Помощь
                    .popup__content-seperator
                    button(type="button").popup__info-back #[img(src="@img/selling-arrow.svg", alt="" draggable="false" loading="lazy")]  Назад
                form(action="#" method="post").popup__content.dn.active#personals
                    p.popup__content-title Редактирование личных данных
                    .popup-input
                        button(type="button").popup-input-btn
                            img(src="@img/popup-dots.svg", alt="" draggable="false" loading="lazy")
                        input(type="text" placeholder="Скайвокер").popup__content-input.input
                    .popup-input
                        button(type="button").popup-input-btn
                            img(src="@img/popup-dots.svg", alt="" draggable="false" loading="lazy")
                        .offer__form-input.offer__form-input_tel.popup__content-input
                            span +7
                            hr 
                            input(type="tel" placeholder="Введите телефон" required).input
                    .popup-input
                        button(type="button").popup-input-btn
                            img(src="@img/popup-dots.svg", alt="" draggable="false" loading="lazy")
                        input(type="text" placeholder="Введите e-mail").popup__content-input.input
                    p.popup__content-title Управление паролем
                    .popup-input
                        button(type="button").popup-input-btn
                            img(src="@img/popup-dots.svg", alt="" draggable="false" loading="lazy")
                        input(type="text" placeholder="Введите старый пароль").popup__content-input.input
                    .popup-input
                        button(type="button").popup-input-btn
                            img(src="@img/popup-dots.svg", alt="" draggable="false" loading="lazy")
                        input(type="text" placeholder="Введите новый пароль").popup__content-input.input
                    .popup-input
                        button(type="button").popup-input-btn
                            img(src="@img/popup-dots.svg", alt="" draggable="false" loading="lazy")
                        input(type="text" placeholder="Повторите новый пароль").popup__content-input.input
                    button(type="submit").popup__content-btn.btn-primary Сохранить
                form(action="#" method="post").popup__content.dn#payment
                    h2.popup__content-title Купленные продукты BINUNI
                    .popup__buying 
                        .popup__buying-img 
                            img(src="@img/popup-buying.png", alt="" draggable="false" loading="lazy")
                        p.popup__buying-p Вы еще ничего не купили
                    .popup__trading 
                        .popup__trading-top 
                            span.popup__trading-data 12.02.2022
                            span.popup__trading-price 3 999 р.
                        p.popup__trading-p Вы преобрели Курс торговли на Binance Future для новичков
                        a(href="#!").popup__trading-link Перейти к обучению
                form(action="#" method="post").popup__content.dn#helpcontent
                    h2.popup__content-title Помощь
                    p.popup__content-desc Свяжитесь с нами и мы ответим в ближайшее время
                    .custom-select.popup__content-select
                        select
                            option(value="" selected disabled hidden) Выберите категорию вопроса
                            option(value="category") category 
                            option(value="category") subject
                    input(type="text" placeholder="Введите телефон").popup__content-input.input
                    textarea(name="textarea" placeholder="Введите сообщение").popup__content-textarea
                    button(type="submit").popup__content-btn.btn-primary Отправить


