mixin popup()
    .popup#register 
        .popup__overlay.popup-close
        .popup__wrapper 
            .popup__body  
                .popup__info 
                    p.popup__info-title Регистрация аккаунта
                    p.popup__info-p Добро пожаловать #[br]#[span в первый онлайн университет] обучения торговли криптовалютой!
                .popup__content 
                    
