mixin programms()
    .programms#programms
        .programms__el.programms__el_1  
            img(src="@img/programm-1.png", alt="" draggable="false")
        .programms__el.programms__el_2
            img(src="@img/programm-2.png", alt="" draggable="false")
        .programms__el.programms__el_3
            img(src="@img/programm-3.png", alt="" draggable="false")
        .programms__el.programms__el_4
            img(src="@img/programm-4.png", alt="" draggable="false")
        .programms__body.container 
            h2.title.programms__title Программа курса
            p.programms__subtitle #[span 10 часов] теории и практики
            .accordion-container
                .accordion  
                    .accordion__button.active 
                        p.programms__left #[b Блок 1.] Введение
                        p.programms__right 6 уроков
                    .accordion__content(style="display: block;")
                        .programms__item  
                            p.programms__left 1.1. Блокчейн и крипторынок
                            p.programms__right Расскажем как устроен крипторынок и его тонкости
                        .programms__item  
                            p.programms__left 1.2. Торговля и инвестиции
                            p.programms__right Вы узнаете чем принципиально отличается торговля и инвестирование, а так-же есть ли золотая середина
                        .programms__item  
                            p.programms__left 1.3. Фундаментальный анализ и технический анализ
                            p.programms__right Просто о сложном, а именно как анализировать криптовалюту
                        .programms__item  
                            p.programms__left 1.4. Влияние на финансовые рынки
                            p.programms__right Узнаете принципы влияния криптовалюты на финансовые 
                        .programms__item  
                            p.programms__left 1.5. Рыночные тренды
                            p.programms__right Какие бывают тренды и как их использовать
                        .programms__item  
                            p.programms__left 1.6. Закрепляем 
                            p.programms__right Продите небольшой тест для закрепления знаний
                .accordion  
                    .accordion__button 
                        p.programms__left #[b Блок 2.] Финансовые рынки и торговые инструменты
                        p.programms__right 8 уроков
                    .accordion__content
                        .programms__item  
                            p.programms__left 1.1. Блокчейн и крипторынок
                            p.programms__right Расскажем как устроен крипторынок и его тонкости
                        .programms__item  
                            p.programms__left 1.2. Торговля и инвестиции
                            p.programms__right Вы узнаете чем принципиально отличается торговля и инвестирование, а так-же есть ли золотая середина
                        .programms__item  
                            p.programms__left 1.3. Фундаментальный анализ и технический анализ
                            p.programms__right Просто о сложном, а именно как анализировать криптовалюту
                        .programms__item  
                            p.programms__left 1.4. Влияние на финансовые рынки
                            p.programms__right Узнаете принципы влияния криптовалюты на финансовые 
                        .programms__item  
                            p.programms__left 1.5. Рыночные тренды
                            p.programms__right Какие бывают тренды и как их использовать
                        .programms__item  
                            p.programms__left 1.6. Закрепляем 
                            p.programms__right Продите небольшой тест для закрепления знаний
                .accordion  
                    .accordion__button 
                        p.programms__left #[b Блок 3.] Торговые и инвестиционные стратегии
                        p.programms__right 10 уроков
                    .accordion__content
                        .programms__item  
                            p.programms__left 1.1. Блокчейн и крипторынок
                            p.programms__right Расскажем как устроен крипторынок и его тонкости
                        .programms__item  
                            p.programms__left 1.2. Торговля и инвестиции
                            p.programms__right Вы узнаете чем принципиально отличается торговля и инвестирование, а так-же есть ли золотая середина
                        .programms__item  
                            p.programms__left 1.3. Фундаментальный анализ и технический анализ
                            p.programms__right Просто о сложном, а именно как анализировать криптовалюту
                        .programms__item  
                            p.programms__left 1.4. Влияние на финансовые рынки
                            p.programms__right Узнаете принципы влияния криптовалюты на финансовые 
                        .programms__item  
                            p.programms__left 1.5. Рыночные тренды
                            p.programms__right Какие бывают тренды и как их использовать
                        .programms__item  
                            p.programms__left 1.6. Закрепляем 
                            p.programms__right Продите небольшой тест для закрепления знаний
                .accordion  
                    .accordion__button 
                        p.programms__left #[b Блок 4.] Основы технического анализа
                        p.programms__right 15 уроков
                    .accordion__content
                        .programms__item  
                            p.programms__left 1.1. Блокчейн и крипторынок
                            p.programms__right Расскажем как устроен крипторынок и его тонкости
                        .programms__item  
                            p.programms__left 1.2. Торговля и инвестиции
                            p.programms__right Вы узнаете чем принципиально отличается торговля и инвестирование, а так-же есть ли золотая середина
                        .programms__item  
                            p.programms__left 1.3. Фундаментальный анализ и технический анализ
                            p.programms__right Просто о сложном, а именно как анализировать криптовалюту
                        .programms__item  
                            p.programms__left 1.4. Влияние на финансовые рынки
                            p.programms__right Узнаете принципы влияния криптовалюты на финансовые 
                        .programms__item  
                            p.programms__left 1.5. Рыночные тренды
                            p.programms__right Какие бывают тренды и как их использовать
                        .programms__item  
                            p.programms__left 1.6. Закрепляем 
                            p.programms__right Продите небольшой тест для закрепления знаний
                .accordion  
                    .accordion__button 
                        p.programms__left #[b Блок 5.] Индикаторы технического анализа
                        p.programms__right 12 уроков
                    .accordion__content
                        .programms__item  
                            p.programms__left 1.1. Блокчейн и крипторынок 
                            p.programms__right Расскажем как устроен крипторынок и его тонкости
                        .programms__item  
                            p.programms__left 1.2. Торговля и инвестиции 
                            p.programms__right Вы узнаете чем принципиально отличается торговля и инвестирование, а так-же есть ли золотая середина
                        .programms__item  
                            p.programms__left 1.3. Фундаментальный анализ и технический анализ 
                            p.programms__right Просто о сложном, а именно как анализировать криптовалюту 
                        .programms__item  
                            p.programms__left 1.4. Влияние на финансовые рынки 
                            p.programms__right Узнаете принципы влияния криптовалюты на финансовые 
                        .programms__item  
                            p.programms__left 1.5. Рыночные тренды 
                            p.programms__right Какие бывают тренды и как их использовать 
                        .programms__item  
                            p.programms__left 1.6. Закрепляем 
                            p.programms__right Продите небольшой тест для закрепления знаний 
                .accordion  
                    .accordion__button 
                        p.programms__left #[b Блок 6.] Торговля в Binance 
                        p.programms__right 25 уроков
                    .accordion__content
                        .programms__item  
                            p.programms__left 1.1. Блокчейн и крипторынок
                            p.programms__right Расскажем как устроен крипторынок и его тонкости
                        .programms__item  
                            p.programms__left 1.2. Торговля и инвестиции
                            p.programms__right Вы узнаете чем принципиально отличается торговля и инвестирование, а так-же есть ли золотая середина
                        .programms__item  
                            p.programms__left 1.3. Фундаментальный анализ и технический анализ
                            p.programms__right Просто о сложном, а именно как анализировать криптовалюту
                        .programms__item  
                            p.programms__left 1.4. Влияние на финансовые рынки
                            p.programms__right Узнаете принципы влияния криптовалюты на финансовые 
                        .programms__item  
                            p.programms__left 1.5. Рыночные тренды
                            p.programms__right Какие бывают тренды и как их использовать
                        .programms__item  
                            p.programms__left 1.6. Закрепляем 
                            p.programms__right Продите небольшой тест для закрепления знаний
