mixin testimonials()
    .testimonials 
        .testimonials__body.container 
            h2.testimonials__title.title Видео отзывы #[span.title__span учеников]
            .testimonials__slider
                .testimonials__swiper.swiper    
                    .testimonials__swiper-wrapper.swiper-wrapper 
                        .testimonials__side.swiper-slide 
                            img(src="@img/testimonials-img-1.png", alt="" draggable="false" loading="lazy")
                            a(href="#!").testimonials__play
                                img(src="@img/testimonials-play.svg", alt="" draggable="false" loading="lazy")
                        .testimonials__side.swiper-slide 
                            img(src="@img/testimonials-img-2.png", alt="" draggable="false" loading="lazy")
                            a(href="#!").testimonials__play
                                img(src="@img/testimonials-play.svg", alt="" draggable="false" loading="lazy")
                        .testimonials__side.swiper-slide 
                            img(src="@img/testimonials-img-3.png", alt="" draggable="false" loading="lazy")
                            a(href="#!").testimonials__play
                                img(src="@img/testimonials-play.svg", alt="" draggable="false" loading="lazy")
                        .testimonials__side.swiper-slide 
                            img(src="@img/testimonials-img-4.png", alt="" draggable="false" loading="lazy")
                            a(href="#!").testimonials__play
                                img(src="@img/testimonials-play.svg", alt="" draggable="false" loading="lazy")
                        .testimonials__side.swiper-slide 
                            img(src="@img/testimonials-img-1.png", alt="" draggable="false" loading="lazy")
                            a(href="#!").testimonials__play
                                img(src="@img/testimonials-play.svg", alt="" draggable="false" loading="lazy")
                        .testimonials__side.swiper-slide 
                            img(src="@img/testimonials-img-2.png", alt="" draggable="false" loading="lazy")
                            a(href="#!").testimonials__play
                                img(src="@img/testimonials-play.svg", alt="" draggable="false" loading="lazy")
                .testimonials__buttons.disable-xxl 
                    .testimonials__button-prev
                    .testimonials__button-next
        .testimonials__abs 
            img(src="@img/testimonials-abs.png", alt="")