mixin trading()
    .trading 
        .trading__body.container 
            h2.trading__title.title От #[span.title__span новичка] до уверенной торговли
            .trading__content 
                .trading__item 
                    .trading__icon 
                        img(src="@img/trading-tick.svg", alt="" draggable="false" loading="lazy")
                    .trading__texts 
                        p.trading__subtitle Изучите базовые принципы работы криптовалюты
                        p.trading__desc Поймете как устроен рынок криптовалют и как он работает. Расскажем просто о сложных вещах.
                .trading__item 
                    .trading__icon 
                        img(src="@img/trading-tick.svg", alt="" draggable="false" loading="lazy")
                    .trading__texts 
                        p.trading__subtitle Изучите базовые принципы работы криптовалюты
                        p.trading__desc Поймете как устроен рынок криптовалют и как он работает. Расскажем просто о сложных вещах.
                .trading__item 
                    .trading__icon 
                        img(src="@img/trading-tick.svg", alt="" draggable="false" loading="lazy")
                    .trading__texts 
                        p.trading__subtitle Изучите базовые принципы работы криптовалюты
                        p.trading__desc Поймете как устроен рынок криптовалют и как он работает. Расскажем просто о сложных вещах.
                .trading__item 
                    .trading__icon 
                        img(src="@img/trading-tick.svg", alt="" draggable="false" loading="lazy")
                    .trading__texts 
                        p.trading__subtitle Изучите базовые принципы работы криптовалюты
                        p.trading__desc Поймете как устроен рынок криптовалют и как он работает. Расскажем просто о сложных вещах.
                .trading__item 
                    .trading__icon 
                        img(src="@img/trading-tick.svg", alt="" draggable="false" loading="lazy")
                    .trading__texts 
                        p.trading__subtitle Изучите базовые принципы работы криптовалюты
                        p.trading__desc Поймете как устроен рынок криптовалют и как он работает. Расскажем просто о сложных вещах.
                .trading__item 
                    .trading__icon 
                        img(src="@img/trading-tick.svg", alt="" draggable="false" loading="lazy")
                    .trading__texts 
                        p.trading__subtitle Изучите базовые принципы работы криптовалюты
                        p.trading__desc Поймете как устроен рынок криптовалют и как он работает. Расскажем просто о сложных вещах.
                .trading__item.enable-xxl
                    .trading__icon 
                        img(src="@img/trading-tick.svg", alt="" draggable="false" loading="lazy")
                    .trading__texts 
                        p.trading__subtitle Изучите базовые принципы работы криптовалюты
                        p.trading__desc Поймете как устроен рынок криптовалют и как он работает. Расскажем просто о сложных вещах.
                .trading__item.enable-xxl 
                    .trading__icon 
                        img(src="@img/trading-tick.svg", alt="" draggable="false" loading="lazy")
                    .trading__texts 
                        p.trading__subtitle Изучите базовые принципы работы криптовалюты
                        p.trading__desc Поймете как устроен рынок криптовалют и как он работает. Расскажем просто о сложных вещах.